body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.85);
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    /* Change to row to align panels horizontally */
    margin: 100px;
    margin-top: 0px;
    height: 1050px;
    border-radius: 5px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    /* Align left panels vertically */
    background: #168cfc;
    width: 300px;
    /* Set a fixed width for the left panel */
    box-sizing: border-box;
}

.top-left-panel,
.bottom-left-panel {
    flex-shrink: 0;
    /* Prevent shrinking of left panels */
}

.right-panel {
    flex: 1;
    /* Allow the right panel to take up the remaining space */
    display: flex;
    background-color: #30b364;
    flex-direction: column;
    align-items: left;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
}

.top-left-panel {
    display: flex;
    background: #048d42;
    height: 700px;
    width: 300px;
    border-top-left-radius: 10px;
    flex-direction: column;
    align-items: left;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
    padding-bottom: 20px;
}

.bottom-left-panel {
    display: flex;
    height: 350px;
    width: 300px;
    background: #2b7f51;
    border-bottom-left-radius: 10px;
    flex-direction: column;
    align-items: left;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
}

.header {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header>h4 {
    font-family: "Roboto", "Segoe UI", Arial, sans-serif;
}

.logo {
    width: 40px;
    height: auto;
    border-radius: 100%;
    margin-bottom: 2px;
}

.company-title {
    margin: 0px;
    font-size: 20px;
    color: #36454f;
}

.reg-details input,
.reg-details select {
    font-size: 11px;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-family: "Roboto", "Segoe UI", Arial, sans-serif;
    color: #000000;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: rgb(47, 46, 46);
    transition: color 230ms ease;
    opacity: 0.6;
    font-size: 10px;
}

input:focus {
    outline: none;
    border: 2px solid #6dbdcf;
    box-shadow: 0 0 5px rgba(4, 72, 145, 0.5);
}

.reg-details div input[type="color"] {
    height: 20px;
    width: 22px;
    padding: 0px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: #f0f0f0;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.reg-details div input[type="color"]:focus {
    border: 2px solid #d7dddf;
    box-shadow: 0 0 5px rgba(4, 72, 145, 0.5);
    outline: none;
}

.login-details div input[type="color"] {
    height: 20px;
    width: 22px;
    padding: 0px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: #f0f0f0;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.login-details div input[type="color"]:focus {
    border: 2px solid #d7dddf;
    box-shadow: 0 0 5px rgba(4, 72, 145, 0.5);
    outline: none;
}

.login-details input,
.login-details select {
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-family: "Roboto", "Segoe UI", Arial, sans-serif;
    color: #000000;
}

.color-label {
    font-size: 14px;
    color: #ffffff;
    padding-left: 1.5px;
}

.reg-details .reg-button {
    width: 150px;
    padding: 6px 12px;
    margin-top: 10px;
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14;
    background-color: #094a16;
    background-size: 200%;
    cursor: pointer;
    transition: background-position 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
}

.login-details .login-button {
    width: 150px;
    padding: 6px 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    color: #031229;
    border-radius: 1000px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14;
    background: #d7dddf;
    background-size: 200%;
    cursor: pointer;
    transition: background-position 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
}

.reg-details .reg-button:hover {
    background-position: right center;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-details .login-button:hover {
    background-position: right center;
    color: #070707;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1px;
    margin-right: 30px;
}

fieldset>label {
    font-size: 11px;
}

legend {
    font-size: 12px;
    padding: 0 5px;
}

.user-reg>h4 {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    margin-bottom: 30px;
    margin-top: 14px;
    position: relative;
    width: max-content;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    border-bottom: #ffffff 2px solid;
    padding-bottom: 5px;
}

.login>h4 {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    margin-top: 14px;
    position: relative;
    width: max-content;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    border-bottom: #ffffff 2px solid;
    padding-bottom: 5px;
}

.login-details>p {
    font-size: 12px;
    color: #ffffff;
    margin-top: 10px;
}

.login-details>p>a {
    font-size: 12px;
    color: #ffffff;
    margin-top: 10px;
}

.login-details a:hover {
    text-decoration: underline;
    color: #ece80c;
}

.reg-details label[for="termandcondition"] a {
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
}

.reg-details label[for="termandcondition"] a:hover {
    text-decoration: underline;
    color: #ece80c;
}

.input_fields {
    width: 200px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    max-width: 200px;
}

input[type="date"],
textarea {
    width: 100%;
    max-width: 150px;
}

input[type="checkbox"],
textarea {
    margin-bottom: 20px;
}

#ucountry {
    width: 100%;
    max-width: 150px;
    margin-bottom: 20px;
}

#ucolor {
    margin-bottom: 20px;
}

.error-message {
    font-size: 12px;
    color: red;
    display: none;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aqi-table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.aqi-table caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.aqi-table th,
.aqi-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.aqi-table th {
    background-color: #4a7ba9;
    color: #ffffff;
    font-weight: bold;
}

.aqi-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.aqi-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}